<div class="container-fluid" width="100%">
  <div class="row">
    <div class="col-xs-12 text-center">
      <img src="/assets/img/burger.png" alt="burgerImg" class="burgerImg">
      <h1>Eat Da Meat!</h1>
      <p>Please enter the burger you want to eat and click the "Submit" button. </p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <form class="create-form">
          <input type="text" class="form-control" name="name" id="bu"> 
          <button type="submit" class="btn btn-primary submit-btn create-form" id="addBurger">Submit</button>

        </form>
        
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-6 text-center">
      <h1>Yummy Meat</h1>
      <ul class="text-left burgers-list">
        <li>
        {{#each burgers}}
        {{#unless devoured}}
        </li>
        
        <li class="col-xs-9 text-center">
          {{this.id}} - {{this.burger_name}}
        </li>
        <div class="col-xs-3">
          <form>
            {{!-- <input type="hidden" type="text" name="burger_id" value={{this.id}}><br> --}}
            <button class="devoured btn btn-success devourBtn" data-id="{{id}}">Eat it!</button>
            
          </form>
        </div>
        {{/unless}}
        {{/each}}
      </ul>
    </div>

    <div class="col-12 col-lg-6 text-center sidebar">
      <h1>YEETH MEAT</h1>
      <ul>
        <li>
        {{#each burgers}}
        {{#if devoured}}
        </li>
        
        <li>  
          <button class="btn btn-success trashburger" data-id="{{id}}">DELETE THE MEAT</button>
        </li>
          
        {{/if}}
        {{/each}}
      </ul>
      
    </div>
  </div>
</div>