<li> {{name}} 
    
    <button class="" data-id="{{id}}" data-devoured="{{eat}}">
         {{#if devoured}}YUM!{{else}}EAT
        ME!{{/if}} </button> 
        
        
        <button class="trashburger" data-id="{{this.id}}">DELETE!</button>
        
    </li> 