<li>
	{{name}}

	<button class="change-sleep" data-id="{{id}}" data-devoured="{{eat}}">
		{{#if devoured}}YUM!{{else}}EAT ME!{{/if}}
	</button>

	<button class="trashburger" data-id="{{this.id}}">DELETE!</button>
</li>
